@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: popins;
}


body {
    
    color: #ededed;
 
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


img.logo{
    color: white;
    border: 2px solid whitesmoke;
    border-radius: 50%;
  height: 75px;
}
a.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

a.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

.navbar a {
font-size: 20px;
color: #ededed;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3s;
}

.navbar a:hover,
navbar a.home {
    color: red;
}

.display {
    height: 100vh;
    background: url('../img/home.jpg') no-repeat;
    background-size: cover;
  display: flex;
  padding: 0 10%;

  align-items: center;
}
.home-content{
    max-width: 600px;
}
.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: palevioletred;
}
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;

}


.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;

}

.home-content .btn-box{
    position: relative;
width: 345px;
display: flex;
justify-content: space-between;
height: 50px;

}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;

}

.btn-box a 
{
    width: 150px;
    position: relative;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border: 2px solid skyblue;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 1px;
    z-index: 1;

}

.btn-box a:hover{
    color: skyblue;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: skyblue;
}
.btn-box a:nth-child(2):hover{
color: black;
}

.btn-box a:nth-child(2)::before{
    background: skyblue;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 50px; 
    
  }



  #linkdn {
    font-size: 50px; /* Adjust size as needed */
    background: radial-gradient(circle at 30% 107%, #0A66C2 0%, #0A66C2 30%, #0073B1 60%, #003767 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the color transparent to show the gradient */
}

#github{
    font-size: 50px; /* Adjust size as needed */
    background: linear-gradient(45deg, #333, #6e5494); /* Gradient for styling */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Transparent text to show gradient */
}

  .icon-mai{
    position: absolute;
    bottom: 40PX;
    width: 200PX;
    background: transparent;
    display: flex;
    justify-content: space-between;
   
  }
  .icon-mai::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;

}
  
  .icon-mai a {
    position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
    width: 60px;
    height: 60px;
 border: 2px solid transparent;
 border-radius: 50%;
 text-decoration: none;
 font-size: 30px;
 color: skyblue;
 overflow: hidden;
 z-index: 1;
  }

  .icon-mai a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
  }
  .icon-mai a:hover::before{
 width: 100%;
  }

  .home-imgHover{
  position: absolute;
  top: 0;
  right: 30px;
  width: 600px;
  height: 100%;
  background: transparent;
  animation: manipActiveHover.1s forwards;
  animation-delay: 4s;
  pointer-events: none;
 transition: 3s;
  }
 
  .home-imgHover:hover{
 background: #081b29;
 opacity: .50;
  }


  .home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 120%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;

}
  .home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;

}









  @keyframes showRight {
    100%{
        width: 0;
    }
  }
  @keyframes manipActiveHover  {
    100%{
        pointer-events: auto;
    }
  }

  .skills {
    height: 100vh;
    background: #081b29;
    display: flex;
    padding: 0 10%;
    align-items: center;
}
.main_skill {
    position: relative;
    margin-inline-start: 50%;
    margin-left: 14px;
    padding-right: 39%;
    color: #fff;

}
.main_skill::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
    z-index: 2;}

 .main_skill h1 {
    position: relative;
    display: inline;
    font-size: 56px;
    font-weight: 700;
    margin-inline-start: -24%;
    line-height: 1.2;
}

.about__img{
    position: relative;
    justify-self: center;
    background-image: url(../img/b\ \(2\).png);
    background-size: cover;
    height: 50%;
    width: 50%;
    margin-left: -80px;
}

.about__img img {
    position: relative;
    transform: scale(2.4);
    margin-left: 170px;
    margin-top: 86px;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
  .about__img:hover{
     transition: .5s;
   transform: translate(-10px,-20px);
  }
  .about__img img:hover{
   transition: .5s;
   transform: translate(-30px,-10px);
   transform: scale(2.9);
  }


  .about__img::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;}

    .about__img img::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 2s;
        z-index: 3;}

.bar {
    position: relative;
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    overflow: hidden;
    width: 200%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 2;}


.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
height: 20px;
float: left;
background: linear-gradient(135deg, rgba(236,0,140,1) 0%, rgba(236,103,103,1)100%);
}

.HTML{
    width: 99%;
    animation: html 3s;
}
.javascript{
    width: 95%;
    animation: javascript 3s;
}
.react-js{
    width: 85%;
    animation: react 3s;
}
.node-js{
    width: 50%;
    animation: node 3s;
}
.mongodb{
    width: 45%;
    animation: mongodb 3s;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #34A853;
    background: #081b29;
}


@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 99%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes react {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes node {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes mongodb {
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

.contact{
    height: 100vh;
    background: #081b29;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: center;
}



#email {
    font-size: 50px; /* Adjust size as needed */
    background: linear-gradient(45deg, #333, #620ce3); /* Gradient for styling */
    -webkit-background-clip: text; /* For Safari */
    background-clip: text; /* For other browsers */
    color: transparent; /* Transparent text to show gradient */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

/* Hover effect */
#email:hover {
    transform: scale(1.1); /* Scale the icon slightly on hover */
}
.logo_contact{
    position: absolute;
    bottom: auto;
    width: 50%;
    background: transparent;
    display: flex;
    justify-content: space-between;
   
  }
  .logo_contact::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;

}
  
.logo_contact a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    color: skyblue;
    overflow: hidden;
    z-index: 1;
}
  .logo_contact a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
  }
  .logo_contact a:hover::before{
 width: 100%;
  }



#comment {
    font-size: 50px; /* Adjust size as needed */
    background: linear-gradient(45deg, #ff6b6b, #f06595, #845ec2); /* Gradient for styling */
    -webkit-background-clip: text; /* For Safari */
    background-clip: text; /* For other browsers */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Transparent text to show gradient */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

/* Hover effect */
#comment:hover {
    transform: scale(1.1); /* Scale the icon slightly on hover */
}
#comment {
    font-size: 50px; /* Adjust size as needed */
    background: linear-gradient(180deg, #ff6b6b, #f06595, #845ec2);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text; /* For other browsers */
    color: transparent; /* Transparent text to show gradient */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

h1.IN_CONTACT {
    font-family: poppins;
    font-size: 50px;
    background: linear-gradient(138deg, rgb(195, 237, 8), rgb(7, 64, 234),rgba(17, 13, 237, 0.593), rgba(250, 16, 4, 0.888),
            rgb(230, 155, 6),rgb(25, 139, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: auto; */
    animation: gradient 150s linear(-0.04 -0.59%, 0.26 112.35%, 1.07 48.24%, 0.03 94.71%, 0.35 53.53%, 0.97 2.94%, -0.39 58.24%, 0.64 -11.76%, 1 100%) infinite;
    background-size: 30px, 30px;
    text-align: center;
}

.para_contact{
    font-size: 26px;
}

.main_contact h3{
   
        position: relative;
        font-size: 32px;
        font-weight: 700;
        color: palevioletred;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 75% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.label {
    width: 200%;
    margin-top: 144px;
}
label{
    font-weight: 600;
    font-size: 25px;
}
.link_email{
    color: #d6249f;
}